
img {
    display: block;
    margin: auto;
    width: 75%;
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
}

ul {
    display: inline-flex;
    list-style-type: none;
    padding: 0;
}

li{
  margin-right: 23px;
}

li a{
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  color: black;
}

li a:hover{
  opacity: 0.5;
}

.linktohome {
  text-decoration: none;
  color: black;
}

.linktohome:hover{
  opacity: 0.5;
}

.nav {
  text-align: center;
}

.coverpiccontent {
    border-radius: 20px;
    max-width: 60%;
    height: auto;
}
