
img {
    display: block;
    margin: auto;
    width: 75%;
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
}

ul {
    display: inline-flex;
    list-style-type: none;
    width: 80%;
    margin: 0 auto;
}

li{
  margin-right: 20px;
}
