/*css for montoyamoraga.io
by aaron montoya-moraga
november 2017*/

* {
  box-sizing: border-box;
}

html, body, div {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}
/*set font to Avantgarde*/
/*normal text, no italics, no bold*/
/*centered text*/
/*display in block*/
/*reset margin and padding for google chrome */
/*no padding (inner space of element)*/

p, h1, h2, h3, h4, h5, h6 {
    font-family: Avantgarde;
    font-weight: normal;
    text-align: center;
    display: block;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    padding: 0;
}

p {
  margin-bottom: 1.5em;
}

  /*reset of format*/
  /*set font to avantgarde*/
  /*set color to black*/
a {
    text-decoration: none;
    font-family: Avantgarde;
    color: black;
    margin: 0;
    outline: 0;
    border: 0;
}

/*change opacity of link*/
a:hover, a h1:hover, a h2:hover {
    opacity: 0.5;
}

#myNavMenu {
    width: 100%;
    overflow: auto;
}

#myNavMenu a {
    float: left;
    width: 25%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    transition: all 0.5s ease;
}

#menuSelection {
    background: yellow;
}

.project {
  width: 33.33%;
  float: left;
  padding: 10px;
  display: block;
  color: #000;
  text-decoration: none;
}

a.project h3 {
  margin: 0;
  font-size: 1em;
}

.project img {
  width: 100%;
  border-radius: 10%;
}

  /* For mobile phones: */
@media only screen and (max-width: 768px) {
  .project {
      width: 100%;
  }
}
