/*css for montoyamoraga.io
by aaron montoya-moraga
april 2017*/


/*css for paragraphs ("p" elements) and headers ("h" elements)*/

p, h1, h2, h3, h4, h5, h6 {
    /*set font to Avantgarde*/
    font-family: Avantgarde;
    /*normal text, no italics, no bold*/
    font-weight: normal;
    /*centered text*/
    text-align: center;
    /*display in block*/
    display: block;
    /*reset margin and padding for google chrome */
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    /*no padding (inner space of element)*/
    padding: 0;
    /*margin (outter space of element)*/
    /*first reset, then set actual value wanted*/
    margin: 0.3em;
}


/*css for font sizes of header elements*/

h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1.0em;
}

h5 {
    font-size: 0.83em;
}

h6 {
    font-size: 0.67em;
}


/*css for links ("a" elements)*/

a {
    /*reset of format*/
    text-decoration: none;
    /*set font to avantgarde*/
    font-family: Avantgarde;
    /*set color to black*/
    color: black;
}


/*css for links ("a" elements), when hovering over them*/

a:hover, a h1:hover, a h2:hover {
    /*change opacity of link*/
    opacity: 0.5;
}

a h1:hover


/*css for figure elements*/

figure {
    /*display as block element*/
    display: inline-block;
    /*no padding(inner space of element)*/
    padding: 0;
    /*margin (outer space of element)*/
    margin: 0.2em;
}


/*css for figcaption elements nested under figure elements*/

figure figcaption {
    font-family: Avantgarde;
    font-weight: normal;
    text-align: center;
    font-size: 100%;
    padding-top: 0.7%;
}


/*css for element with id myNavMenu*/

#myNavMenu {
    width: 100%;
    overflow: auto;
}


/*css for html element with id coverPictureDiv*/

#coverPictureDiv {
    max-height: 50%;
}


/*css for html element with id coverPicture*/

#coverPicture {
    display: block;
    margin: auto;
    vertical-align: top;
    border-radius: 10px;
    max-width: 50%;
    /*max-height: 25%;*/
    height: auto;
}


/*css for info page*/


/*align paragraphs and headers to the left*/

#info * {
    text-align: justify;
}


/*css for exhibitions in info page*/


/*select any class that contains exhibit*/

[class*="exhibit"] {
    /*make them float to the left*/
    float: left;
    /*make them a certain min width*/
    width: 120px;
    /*put a margin to each element*/
    margin-left: 10px;
}

.row {
    display: block;
}


/*css for portfolio page*/

#portfolio * {
    text-align: justify;
}

#teaching * {
    text-align: justify;
}


/*css for contact page*/


/*align paragraphs and headers to the left*/

#contact * {
    text-align: justify;
}

/*css for a elements under element with id myNavMenu*/

#myNavMenu a {
    float: left;
    width: 20%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    transition: all 0.5s ease;

}
